{% extends 'base.html' %}

{% block content %}


<body>

	<!-- <table id="taxi-table">
		<thead>
			<tr>
				<th>Details</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Street Address 1</th>
				<th>Street Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Phone Number</th>
				<th>Driving License</th>
				<th>Aadhar Card</th>

			</tr>
		</thead>
		<tbody>
		</tbody>
	</table> -->




	<div class="relative overflow-x-auto">
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="taxi-table">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
				<tr>
					<th scope="col" class="px-6 py-3" >
						Details
					</th>
					<th scope="col" class="px-3 py-3">
						First Name
					</th>
					<th scope="col" class="px-3 py-3">
						Last Name
					</th>
					<th scope="col" class="px-3 py-3">
						Email
					</th>
					<th scope="col" class="px-3 py-3">
						Street Address 1
					</th>
					<th scope="col" class="px-3 py-3">
						Street Address 2
					</th>
					<th scope="col" class="px-3 py-3">
					City
				</th>
				<th scope="col" class="px-3 py-3">
					State
				</th>
				<th scope="col" class="px-3 py-3">
					Phone Number
				</th>
				<th scope="col" class="px-3 py-3">
					Driving License
				</th>
				<th scope="col" class="px-3 py-3">
					Aadhar Card
				</th>
				<th scope="col" class="px-3 py-3">
					Verify Details
				</th>
				</tr>
				
			</thead>
			<tbody>
				
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
					
				</tr>
			</tbody>
		</table>
	</div>
	





	{% endblock %}